<ng-container>
    <mat-toolbar color="primary" fxLayoutAlign="space-between center" >
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon>MENU</button>

        <span fxFlex></span>

        <button [matMenuTriggerFor]="profile" mat-icon-button> 
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #profile="matMenu" >
            <button mat-menu-item>
                <mat-icon>settings</mat-icon> Settings </button>
            <button mat-menu-item>
                <mat-icon>account_box</mat-icon> Profile </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon> Disable notifications </button>
            <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon> Sign Out </button>
        </mat-menu>
    </mat-toolbar>
<ng-container>

<br><br>

<div fxLayout="column" fxLayoutAlign="center center">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>
<br><br>


<router-outlet></router-outlet>